{{#partial "contenido" }}

  <div class="mt-4 pt-4 d-none d-md-flex col-md-4 col-lg-12 d-flex justify-content-start justify-content-center">
    <h1 class="login-heading font-weight-light text-lg-left mt-4 mb-0">Detalle Guardarropas {{id}}</h1>
  </div>
  <hr class="mt-2 mb-5" />

  <div class="container">
    <div class="row text-center text-lg-left">

    <h3>Superiores</h3>

    {{#each superiores}}
    <div class="card" style="width: 18rem;">
      <img src="{{rutaImagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Prenda {{id}}</p>
      </div>
    </div>
    {{/each}}
    <hr class="mt-2 mb-5" />
    <h3>Inferiores</h3>

    {{#each inferiores}}
    <div class="card" style="width: 18rem;">
      <img src="{{rutaImagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Prenda {{id}}</p>
      </div>
    </div>
    {{/each}}
    <hr class="mt-2 mb-5" />
    <h3>Calzado</h3>

    {{#each calzado}}
    <div class="card" style="width: 18rem;">
      <img src="{{rutaImagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Prenda {{id}}</p>
      </div>
    </div>
    {{/each}}
    <hr class="mt-2 mb-5" />
    <h3>Accesorios</h3>
    
    {{#each calzado}}
    <div class="card" style="width: 18rem;">
      <img src="{{rutaImagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Prenda {{id}}</p>
      </div>
    </div>
    {{/each}}

  </div>

</div>
{{/partial}}

{{> layout.hbs}}