{{#partial "contenido" }}

<div class=" d-none d-md-flex col-md-4 col-lg-12 d-flex justify-content-start justify-content-center">
    <h1 class="login-heading font-weight-light text-lg-left mt-4 mb-0">Mis Eventos</h1>
</div>

{{#each fechas}}
    <div class="fechas">{{this}}</div>
{{/each}} 

<hr class="mt-2 mb-5" />

<div class="col-lg-2">
    <a href="creadorEventos" type="button" class="btn btn-success btn-lg btn-block">Agregar evento</a>
</div>
<div class="container">

    <h1>{{fecha}}</h1>

    <div class="row">
        <div class="col-md-3 md-4 mt-5">
            <h5 class="mb-3">Buscar eventos por fecha</h5>
            <div class="row no-gutter ml-4 mr-4 pr-2">
                <div class=" d-none d-md-flex col-md-4 col-lg-12 d-flex justify-content-start justify-content-center">
                    <input id="datepicker" width="276" />
                </div>
            </div>
            <br />
            <ul id="listaFechas" class="list-group list-group-horizontal"></ul>
        </div>
        <div class="col-md-9">
            {{#each asistencias}}
            <div class="col md-4 mt-5">
                <div class="card">
                    <h5 class="card-header">{{evento.fechaFormateada}}</h5>
                    <div class="card-body ">
                        <h6 class="card-subtitle mb-2">{{evento.tituloEvento}}</h6>
                        <p class="card-text">Este evento se desarrollara en {{evento.ubicacion}}</p>
                        <a href="/misEventos/{{id}}" class="card-link">Mas informacion</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        var list = document.getElementsByClassName("fechas");
        for (var i = 0; i < list.length; i++) {
            list[i].setAttribute("id", "fecha" + i);
            list[i].style.display = "none";
            $("#listaFechas").append(
                '<a class="list-group-item btn btn-outline-primary mb-1" href="/misEventos/'+ document.getElementById("fecha" + i).innerHTML +'">'+ document.getElementById("fecha" + i).innerHTML + '</a>'
            );
        }

        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });

        $(function () {
            $("#datepicker").datepicker();
            $("#datepicker").on("change", function () {
                var selected = $(this).val();
                window.location.href = "/misEventos/" + selected;
            });
        });
    });

</script>

{{/partial}}

{{> layout.hbs}}